/** Titulo empleado **/
.title-empleado{
    width: 100%;
    color: #000;
    text-align: center;
    padding: 40px;
}

.form-persona{
    padding: 10px;
}

.form-contrato .title-form-contrato{
    width: 100%;
    color: #000;
    text-align: center;
    padding: 20px;
    background-color: #2f98ba;
}

.form-botones .boton-registrar button{
    font-weight: 600;
    color: #ffffff;
    padding: 9px 25px;
    background-color: #3de366;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.form-botones .boton-registrar button:hover{
    background-color: #33c36f;
    transform: scale(1.1);
}

.form-botones .boton-cancelar button{
    font-weight: 600;
    color: #ffffff;
    padding: 9px 25px;
    background-color: #adadad;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.form-botones .boton-cancelar button:hover{
    background-color: #7d7d7d;
    transform: scale(1.1);
}