/** Titulo contenedor **/
.title-workers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title-workers .boton button{
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background-color: #43c671;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.title-workers .boton button:hover{
    background-color: #16873a;
    transform: scale(1.1);
}

/** Buscador **/
.table-workers .nav-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-buscador {
    width: 45%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedor-prueba .boton-buscar button{
    font-weight: 600;
    color: #ffffff;
    padding: 9px 25px;
    background-color: #16b7ac;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contenedor-prueba .boton-buscar button:hover{
    background-color: #168faa;
    transform: scale(1.1);
}


.contenedor-prueba .boton-limpiar button{
    font-weight: 600;
    color: #ffffff;
    padding: 9px 25px;
    background-color: #adadad;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contenedor-prueba .boton-limpiar button:hover{
    background-color: #7d7d7d;
    transform: scale(1.1);
}

/** Tabla principal**/

.cont-table{
    padding: 20px;
}
.cont-table .boton-visualizar button{
    font-weight: 400;
    color: #ffffff;
    padding: 4px 15px;
    background-color: #3d9ae1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cont-table .boton-visualizar button:hover{
    background-color: #3468b7;
    transform: scale(1.1);
}

.cont-table .boton-editar button{
    font-weight: 400;
    color: #ffffff;
    padding: 4px 15px;
    background-color: #3de366;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cont-table .boton-editar button:hover{
    background-color: #33c36f;
    transform: scale(1.1);
}

.cont-table .boton-eliminar button{
    font-weight: 400;
    color: #ffffff;
    padding: 4px 15px;
    background-color: #d83838;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cont-table .boton-eliminar button:hover{
    background-color: #b33f2a;
    transform: scale(1.1);
}