.estadistica-template-red{
    margin: 30px 20px;
    padding: 10px;
    border-left: 10px solid #bf0808;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.estadistica-template-blue{
    margin: 30px 20px;
    padding: 10px;
    border-left: 10px solid #0c0cb0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.estadistica-template-green{
    margin: 30px 20px;
    padding: 10px;
    border-left: 10px solid #0ea20e;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.estadistica-template-yelow{
    margin: 30px 20px;
    padding: 10px;
    border-left: 10px solid #bdd618;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.text-estadistica{
    font-size: 25px;
}

.text-estadistica i{
    font-size: 25px;
}

.estadistica{
    text-align: end;
    font-size: 50px;
}

.red{
    color: #bf0808;
}

.blue{
    color: #0c0cb0;
}

.green{
    color: #0ea20e;
}

.yelow{
    color: #bdd618;
}

