/** Especial **/
.row {
    margin-left: 0;
    margin-right: 0;
}

/** Barra de navegación **/
.header{
    background-color: #2f98ba;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 5px 10%;
}

.header .logo img{
    height: 80px;
    width: auto;
    border-radius: 20px;
    justify-content: center;
}

/** Login **/
.login-container {
    height: 690px;
    background: #fff;
}

.login-text{
    text-align: start;
    padding: 20px 30px;
}

.login-text h2{
    color: #2f98ba;
    font-size: 80px;
    font-weight: bold;
    margin-right: 20x;
}

.login-image {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
} 

.login-image img {
    height: 450px;
    margin-left: -170px;
}

.login-b {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-b .circle{
    width: 680px;
    height: 680px;
    background-color: #2f98ba; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-login{
    margin-bottom: 20px;
    width: 500px;
}

.circle .label{
    width: 100%;
    text-align: start;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

button {
    width: auto;
    padding: 12px 32px;
    background-color: white;
    color: #2f98ba;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    ;
}